/* src/index.css */

/* Default Light Theme Styles */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #fff; /* Light background color */
  color: #000; /* Light text color */
}

/* Dark Mode Styles */
.dark-mode body {
  background-color: #333; /* Dark background color */
  color: #ddd; /* Light text color */
}

/* Additional global styles can be added here */
